<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean
            class="com.spring.Employee"
            id="employee"
            factory-method="getInstance"
            lazy-init="true"
    />

    <bean
            class="com.spring.Student"
            id="student"
            factory-bean="get_object"
            factory-method="getStudent"
    />

    <bean class="com.spring.GetObject" id="get_object"/>
</beans>